@import "normalize.css";
@import "open-props/style";
@import "open-props/media";

@stylex stylesheet;

:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

html[data-theme="light"] {
  color-scheme: only light;
}

html[data-theme="dark"] {
  color-scheme: only dark;
}

html {
  font-family: var(--font-neo-grotesque);
  font-size: 16px;
  line-height: var(--font-lineheight-2);

  @media (--md-n-above) {
    font-size: 18px;
  }
}

body {
  background-color: light-dark(var(--gray-0), var(--gray-9));
  color: light-dark(var(--gray-12), var(--gray-5));
}
