@import "open-props/style" layer(reset);
@import "open-props/normalize" layer(reset);

@stylex stylesheet;

:root {
  color-scheme: light dark;
}

html {
  font-size: 18px;
}

html[data-theme="light"] {
  color-scheme: only light;
}

html[data-theme="dark"] {
  color-scheme: only dark;
}

body {
  background-color: light-dark(var(--gray-0), var(--gray-9));
  color: black;
}
